@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Our website specializes in providing all kinds of supplements facts products, shipping nationwide.</h3>

<p>The goods we supply are of 100% reputable origin. Come and buy from us. Thank you.</p>
